@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/*paleta de color
#A6B3BD
#949494
#AFCFE8
#606569
#383B3D
#1A2633*/
h3{
    color: #d4a142;
}

h2{
    color: #e6a62f;
}

*{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal; 
}
a:link{
    color: rgb(145, 128, 34);
    text-decoration: none;
    background-color: transparent;
}

a:visited{
    color: rgba(204, 82, 0, 0.568);
    background-color: transparent;
    text-decoration: none;
}

a:hover{
    color: rgba(223, 170, 102, 0.596);
    background-color: transparent;
    text-decoration: underline;
}

a:active{
    color: rgb(116, 116, 70);
    background-color: transparent;
    text-decoration: none;
}

.regresar:link, .regresar:visited{
    background-color:#d89504cc;
    color: white;
    font-size: small;
    margin: 5%;
    padding: 10px 18px;
    text-align: center;
    display: inline-block;
    border-radius: 12px;
    box-shadow: 2px 2px 2px #bdbdbd;
}

body{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color:#ffffff6e;
}

.container{
 padding: 20px;
 margin: 10PX;
 background-color: #fffeeb70;
 border-radius: 5px;
 max-width: 900px;
}
.containerP{
    max-width: 900px;
}

.gastro{
    margin-right: 50px;
}

.mapa{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.img_mapa{
    padding: 20px;
    border-radius: 30px;
}

.especial{
    font-family: 'Franklin Gothic' , 'Arial Narrow', sans-serif;
    font-weight: 400;
    font-style:initial; 
    text-align: center;
    text-shadow: 2px 2px 5px #acacac;
    color: #e9a30c;

}

.contenido{
    margin-right: 50px;
    margin-top: -450px
}



.informacion{
    display: flex;
    justify-content: center;

}

.img_info{
    width: 350px;
    height: auto;
    margin-right: 50px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgb(122, 122, 120);
}

.img_2{
    width: 300px ;
    height: 200px ;
    border-radius: 12px;
    box-shadow: 2px 2px 8px #666161;
    margin-left: 5px ;
}

.img_t{
    width: auto ;
    height: 190px ;
    margin-top: 50px;
    margin-left: 10px;
    border-radius: 12px;
    box-shadow: 2px 2px 8px #666161;
}

.intro{
    display: flex;
    align-items: center;
    justify-content: center;
}