@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/*paleta de color
#A6B3BD
#949494
#AFCFE8
#606569
#383B3D
#1A2633*/

*{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal; 
}
a:link{
    color: rgb(0, 15, 231);
    text-decoration: none;
    background-color: transparent;
}

a:visited{
    color: rgb(98, 0, 209);
    background-color: transparent;
    text-decoration: none;
}

a:hover{
    color: rgb(100, 97, 143);
    background-color: transparent;
    text-decoration: underline;
}

a:active{
    color: rgb(158, 158, 132);
    background-color: transparent;
    text-decoration: none;
}

.regresar:link, .regresar:visited{
    background-color:#2f5f96;
    color: white;
    font-size: small;
    margin: 5%;
    padding: 10px 18px;
    text-align: center;
    display: inline-block;
    border-radius: 12px;
}

body{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #ffffe980;
}

.container{
 padding: 20px;
 margin: 10PX;
 background-color: #a7a59a27;
 border-radius: 5px;
 max-width: 800px;
 
 
}

.mapa{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.img_mapa{
    padding: 20px;
    border-radius: 30px;
}

.especial{
   
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal; 
    text-align: center;
    text-shadow: 3px 3px 3px #acacac;
    color: #16304e;

}

.informacion{
    display: flex;
    justify-content: center;

}

.img_info{
    width: 360px;
    height: auto;
    margin-right: 50px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgb(122, 122, 120);
}

.img_2{
    width: 300px ;
    height: 200px ;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px #d8d6d6;
}

